DocumentService.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<xs:schema xmlns:tns="http://company.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://company.com/">

	<xs:element name="handleRecords" type="tns:handleRecords"></xs:element>

	<xs:element name="handleRecordsResponse" type="tns:handleRecordsResponse"></xs:element>

	<xs:complexType name="handleRecords">
		<xs:sequence>
			<xs:element name="request" type="tns:handlerRequest"
				minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="handlerRequest">
		<xs:sequence>
			<xs:element name="files" type="xs:base64Binary" maxOccurs="unbounded"></xs:element>
			<xs:element name="transactionId" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="handleRecordsResponse">
		<xs:sequence>
			<xs:element name="response" type="tns:handlerResponse"
				minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="handlerResponse">
		<xs:sequence>
			<xs:element name="processStatus" type="tns:processStatus"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="processStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SUCCESSFUL"></xs:enumeration>
			<xs:enumeration value="FAILED"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>